.blockMark {
    background-color: red;
    display: none;
}

#meta {
    width: 100%;
}

/* Denver post text style*/
.body-copy p {
    padding: 10px;
    font-size: 18px;
}

/* Outlook */
#app .BW6l9.EVCMF {
    scrollbar-gutter: auto;
}

#managerBox {
    color: white;
    background-color: rgb(41, 42, 45);
    border: 2px solid white;
    border-radius: 6px;
    position: fixed;
    width: 280px;
    min-width: 240px;
    height: 500px;
    min-height: 400px;
    top: 130px;
    left: 15px;
    padding: 10px;
    z-index: 10;
    resize: both;
    overflow: auto;
}

.nameSpanOut {
    position: absolute;
    top: 0px;
    left: 100px;
    padding: 0px 10px;
    font-size: 12px;
    z-index: 100;
    cursor: pointer;
    color: red;
}

.nameSpanOut:hover {
    text-decoration: line-through;
}

.nameSpan {
    color: white;
}

#keeperButton {
    position: absolute;
    width: 170px;
    top: 0px;
    left: 50%;
    margin-left: -85px;
    margin-top: 6px;
    cursor: pointer;
    background-color: gray;
    border-radius: 6px;
}

#keeperButton:hover {
    color: #cccccc;
}

#destroyButton {
    position: absolute;
    width: 170px;
    bottom: 0px;
    left: 50%;
    margin-left: -85px;
    margin-bottom: 6px;
    cursor: pointer;
    background-color: gray;
    border-radius: 6px;
}

#destroyButton:hover {
    color: #cccccc;
}

#draggerBox {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 60px;
    left: 0px;
    z-index: 11;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    cursor: grab;
}

#mbTextBoxTabs {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    height: 24px;
    background-color: transparent;
    z-index: 11;
}

.mbTab {
    width: 50%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgb(41, 42, 45);
    color: #aaaaaa;
    cursor: pointer;
    border-top: 2px solid rgb(118, 118, 118);
    border-right: 2px solid rgb(118, 118, 118);
    border-left: 2px solid rgb(118, 118, 118);
    box-sizing: border-box;
}

.mbTab.active {
    color: white;
}

.mbTab:hover {
    background-color: rgb(68, 69, 73);
}

#mbTextBox {
    position: absolute;
    top: 45px;
    right: 20px;
    bottom: 80px;
    left: 20px;
    color: white;
    font-size: 16px;
    font-weight: inherit;
    line-height: 25px;
    border-color: rgb(118, 118, 118);
    background-color: rgb(41, 42, 45);
    resize: none;
    z-index: 11;
    cursor: auto;
}

#mbSubmitBtn {
    background-color: rgb(0, 0, 0);
    border: 1px solid #666666;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    z-index: 11;
}

#mbSubmitBtn:hover {
    background-color: rgb(0, 56, 0);
}

#dnBtn {
    background-color: rgb(0, 0, 0);
    border: 1px solid #666666;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 11;
}

#upBtn {
    background-color: rgb(0, 0, 0);
    border: 1px solid #666666;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 11;
}

#checkBtn {
    background-color: rgb(0, 0, 0);
    border: 1px solid #666666;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 110px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 11;
}
